:root {
  --background: #ffffff;
  --color: #444444;
  --sans: "Maven Pro", sans-serif;
}


/* Reset */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: var(--background);
  color: var(--color);
  font-family: var(--sans);
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
}


/* Global */
main {
  margin: 0 auto 2rem auto;
  padding: 0 1rem;
}

section {
  margin-top: 2rem;
}

.details dt,
.details dd {
  display: inline;
  margin: 0;
}

.details dt::after {
  content: ": ";
}


/* Navbar */
nav {
  background: var(--background);
  border-bottom: 1px solid black;
  margin: 0 auto 1rem auto;
  padding: 1rem;
  position: sticky;
  top: 0;
}

nav ul {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem 1.5rem;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li:first-child {
  flex-basis: 100%;
  text-align: center;
}

nav [class*="fa-"] {
  font-size: 2rem;
}


/* Skills */
dl.horizontal {
  display: flex; 
  flex-flow: row wrap;
}

dl.horizontal dt {
  flex-basis: 100%;
  font-weight: bold;
}


/* Work Experience */
h3 {
  margin-top: 1rem;
}


/* Education */
dl:not(.details) > div + div {
  margin-top: 0.5rem;
}


/* Languages */
.lang::before {
  margin-right: 0.5rem;
}

.lang.en::before {
  content: "\1F1FA\1F1F8";
}

.lang.pl::before {
  content: "\1F1F5\1F1F1";
}


/* Media Queries */
@media (min-width: 850px) {
  body {
    font-size: 1.3rem;
  }

  /* Navbar */
  nav, main {
    max-width: 50rem;
  }

  nav li:first-child {
    flex-basis: auto;
    margin-right: auto;
  }

  /* Work Experience */
  article {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
  }

  article p {
    margin: 0;
  }

  article .content {
    flex-basis: 100%;
  }
}
